{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | absolute_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script>  
    $(document).ready(function(){  
        //首先将#back-to-top隐藏  
        $("#back-to-top").hide();  
        //当滚动条的位置处于距顶部600像素以下时，跳转链接出现，否则消失  
        $(function () {  
            $(window).scroll(function(){  
                if ($(window).scrollTop()>600){  
                    $("#back-to-top").fadeIn(500);  
                }else{  
                    $("#back-to-top").fadeOut(500);  
                }  
            });  
            //当点击跳转链接后，回到页面顶部位置  
            $("#back-to-top").click(function(){  
                $('body,html').animate({scrollTop:0},500);  
                return false;  
            });  
        });  
    });  
  </script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include search/lunr-search-scripts.html %}
    {%- when "algolia" -%}
      {% include search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
